@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

@model rListNote
@using DAL.Note;


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">Simple Table</h4>
                        <p class="card-category"> Here is a subtitle for this table</p>
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">

                            <table id="tblNotlar" name="tblNotlar" class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>TİTLE</th>
                                        <th>NOTE</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var x in Model.Values)
                                    {
                                        <tr>
                                            <td>@x.Noteid</td>
                                            <td>@x.Title</td>
                                            <td>@x.Note</td>
                                            <td><a class="btn btn bg-danger btn1" data-id="@x.Noteid">Delete</a></td>
                                            <td><a class="btn btn bg-success btn2" data-id="@x.Noteid" value="@x.Note">Update</a></td>
                                        </tr>
                                    }
                                </tbody>
                            </table>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>

    $(function () {
        $("#tblNotlar").on("click", ".btn1", function () {
            var data1 =
            {
                NoteId: $(this).data("id"),
            };
            console.log(data1);
            var btn = $(this);
            $.ajax({
                type: "POST",
                url: "/api/NoteApi/Delete/",
                data: JSON.stringify(data1),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    btn.parent().parent().remove();
                    console.log("success");
                }
            });
        });
    });

    $(function () {
        $("#tblNotlar").on("click", ".btn2",async function () {
            var data1 =
            {
                NoteId: $(this).data("id"),
                Note: $(this).val(),
                UserId:@ViewBag.UserId
            };

            const { value: text } = await Swal.fire({
                input: 'textarea',
                inputValue: data1.Note,
                confirmButtonText: 'Update',
                showCancelButton: true,
                showConfirmButton: true
            })

            var data2 =
            {
                NoteId: $(this).data("id"),
                Note: text,
                UserId:@ViewBag.UserId
            };

            var btn = $(this);

            $.ajax({
                type: "POST",
                url: "/api/NoteApi/Update/",
                data: JSON.stringify(data2),
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function () {
                    /*btn.parent().parent().data();*/
                    window.location.reload()
                    console.log("success");
                }
            });
        });




        });


</script>